/* Css para posicionamiento
 de elementos html*/

h1 {
	margin: 50px;
	text-align: center;

}

h3 {
	margin: 0px;
	position:absolute;
	top:0;
	right:0;
}

section {
	position:relative; 	
	margin: 10px;
}