/* Css para posicionamiento
 de elementos html*/

h1 {
	margin: 50px;
	text-align: center;

}

h3 {
	margin: 0px;
	position:absolute;
	top:0;
	right:0;
}

section {
	box-sizing:borderbox;
	position:relative; 	
	margin: 20px;
}

@media(min-width:992px){
	section{
		width:30%;
		float:left;
	}
		
}
@media (min-width:768px) and(max-width:991px){
	section{
		float:left;
		width:45%;
	}
	#Su{
		clear:both;
		width :95%;
	}
		
}
@media(max-width:767px){
	section{
		width: 90%;
	}
}