/* Css para posicionamiento
 de elementos html*/

h1 {
	margin: 50px;
	text-align: center;

}

h3 {
	margin: 0px;
	position:absolute;
	top:0;
	right:0;
}

section {
	position:relative; 	
	margin: 10px;
}

@media(min-width:992px){
	section{
		float:left;
		width:32%;
		
	}
		
}
@media (min-width:768px) and (max-width:991px){
	section{
		float:left;
		width:50%;
	}
	#Su{
		width :100%;
	}
		
}
@media(max-width:767px){
	section{
		width: 90%;
	}
}
